<div class="hcap-list">
  <div class="toolbar">
    <h2>HCap List</h2>
    <mat-form-field appearance="outline" class="search">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="search" (ngModelChange)="applyFilter()" placeholder="Name or Member ID">
      <button mat-icon-button matSuffix *ngIf="search" (click)="search=''; applyFilter();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="paged" class="mat-elevation-z1">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.name || '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="postedScore">
      <th mat-header-cell *matHeaderCellDef> Posted </th>
      <td mat-cell *matCellDef="let row"> {{ row.postedScore ?? '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="currentHCap">
      <th mat-header-cell *matHeaderCellDef> Current HCap </th>
      <td mat-cell *matCellDef="let row"> {{ row.currentHCap ?? '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="newHCap">
      <th mat-header-cell *matHeaderCellDef> New HCap </th>
      <td mat-cell *matCellDef="let row"> {{ row.newHCap ?? '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="datePlayed">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let row"> {{ row.datePlayed ? (row.datePlayed | date:'shortDate') : '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let row"> {{ row.author?.name || '-' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="filtered.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5,10,20,50]" (page)="onPage($event)"></mat-paginator>
</div>
