<form [formGroup]="memberForm" (ngSubmit)="submit()" class="member-form">
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" required placeholder="Enter first name" title="First Name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" required placeholder="Enter last name" title="Last Name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>USGA Index</mat-label>
    <input matInput formControlName="usgaIndex" type="number" step="0.1" min="-10" max="54" placeholder="Enter USGA Index (e.g. 12.5)" title="USGA Index" />
    <mat-error *ngIf="isUsgaIndexMinError">
      USGA Index cannot be less than -10.0
    </mat-error>
    <mat-error *ngIf="isUsgaIndexMaxError">
      USGA Index cannot be greater than 54.0
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Date Played</mat-label>
    <input matInput formControlName="lastDatePlayed" type="date" placeholder="Select last date played" title="Last Date Played" />
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput formControlName="Email" type="email" required placeholder="Enter email" title="Email" />
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="loading || memberForm.invalid">
    {{ loading ? 'Saving...' : 'Save Member' }}
  </button>
</form>
