.member-form {
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  align-self: flex-end;
}

.default-course-tee-section {
  .course-tee-select-row {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .course-tee-select-field {
    flex: 1;
  }
}
