.lineup-container {
  margin: 1rem 0;
}
.lineup-container h3 {
  margin-bottom: 0.5rem;
}
.lineup-container div {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
.lineup-container mat-form-field {
  width: 100%;
  margin-top: 1rem;
}
.lineup-container button {
  margin-left: 0.5rem;
}
