.paired-teams-layout {
  margin-top: 1em;
}
.paired-group-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}
.paired-team-col {
  flex: 1;
  padding: 0.25em 1em;
}
.paired-team-col.left {
  text-align: left;
}
.paired-team-col.right {
  text-align: right;
}
.lineup-container {
  margin: 1rem 0;
}
.lineup-container h3 {
  margin-bottom: 0.5rem;
}
.lineup-container div {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
.lineup-container mat-form-field {
  width: 100%;
  margin-top: 1rem;
}
.lineup-container button {
  margin-left: 0.5rem;
}
