
<div class="login-container">
  <h1>Welcome to Rochester</h1>
  <p *ngIf="!isLoggedIn">Sign in with your Microsoft account to continue</p>
  <p *ngIf="isLoggedIn">You are currently signed in</p>
  
  <div class="login-actions">
    <button 
      *ngIf="!isLoggedIn"
      mat-raised-button 
      color="primary" 
      type="button"
      (click)="loginWithMicrosoft()"
      [disabled]="isLoading">
      <span *ngIf="!isLoading">Sign in with Microsoft</span>
      <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
    </button>
    
    <button 
      *ngIf="isLoggedIn"
      mat-raised-button 
      color="warn" 
      type="button"
      (click)="logoutWithMicrosoft()">
      Sign out
    </button>
  </div>
</div>
  
  