.login-container {
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  
    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }
  
    button {
      width: 100%;
    }
  }
  