<div class="user-list">
  <div class="user-list-header">
    <h2>Users</h2>
    <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="openInviteDialog()"
            matTooltip="Send a Microsoft Entra guest invitation">
      <mat-icon>person_add</mat-icon> Invite User
    </button>
  </div>

  <mat-list *ngIf="users.length">
    <mat-list-item *ngFor="let user of users">
      <div mat-line>{{ user.name }} ({{ user.email }})</div>
      <div mat-line>{{ user.role }}</div>
      <span class="spacer"></span>
      <button *ngIf="isAdmin" mat-button color="warn" matListItemMeta (click)="deleteUser(user._id)">Delete</button>
    </mat-list-item>
  </mat-list>
  <div *ngIf="!users.length && !loading">No users found.</div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
